<app-header></app-header>
<div class="card mat-elevation-z4 card-form">
  <div class="card-body">
    <button mat-mini-fab color="primary" routerLink="/mentores" title="Voltar página" [ngStyle]="{'color':'white'}">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div class="titulo">
      <h1>Exclusão de Mentor</h1>
      <h3>#{{mentor.id_mentor}} {{mentor.mentor_nome}}</h3>
    </div>

    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input type="text" matInput [(ngModel)]="mentor.mentor_nome" name="mentor_nome"
          formControlName="mentor_nome" readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input type="text" matInput [(ngModel)]="mentor.mentor_cpf" name="mentor_cpf"
          formControlName="mentor_cpf" readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Cargo</mat-label>
        <input type="text" matInput [(ngModel)]="mentor.mentor_cargo" name="mentor_cargo"
          formControlName="mentor_cargo" readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Foto</mat-label>
        <input type="text" matInput [(ngModel)]="mentor.mentor_foto" name="mentor_foto"
          formControlName="mentor_foto" readonly>
      </mat-form-field>
      <div class="botoes">
        <button mat-raised-button color="accent" (click)="open(modalExcluir)" [disabled]="!form.valid">Excluir</button>
      </div>

      <!-- Modal de confirmação para excluir mentor -->
      <ng-template #modalExcluir let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="excluir">Aviso</h4>
          <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Deseja realmente excluir <strong>#{{mentor.id_mentor}} {{mentor.mentor_nome}}</strong>?</p>
        </div>
        <div class="modal-footer">
          <button mat-raised-button type="button" (click)="modal.close('Save click')" class="mx-3">Cancelar</button>
          <button mat-raised-button type="button" (click)="excluirMentor();modal.close('Save click')" color="warn">Excluir</button>
        </div>
      </ng-template>
    </form>
  </div>
</div>
<app-footer></app-footer>
