<app-header></app-header>
<div class="card mat-elevation-z4 card-form">
  <div class="card-body">
    <button mat-mini-fab color="primary" routerLink="/mentores" title="Voltar página"[ngStyle]="{'color':'white'}"><mat-icon >keyboard_backspace</mat-icon></button>
    <div class="titulo">
      <h1>Cadastro de Mentores</h1>
    </div>

    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input type="text" matInput placeholder="Nome" [(ngModel)]="mentor.mentor_nome" name="mentor_nome" formControlName="mentor_nome">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input type="text" matInput placeholder="XXX.XXX.XXX-XX" [(ngModel)]="mentor.mentor_cpf" name="mentor_cpf" formControlName="mentor_cpf">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Cargo</mat-label>
        <input type="text" matInput placeholder="Cargo" [(ngModel)]="mentor.mentor_cargo" name="mentor_cargo" formControlName="mentor_cargo">
      </mat-form-field>
      <div class="botoes">
        <button mat-raised-button color="accent" (click)="cadastrarMentor()" [disabled]="!form.valid">Cadastrar</button>
        <button mat-raised-button color="basic" class="mx-3" type="reset">Limpar</button>
      </div>
      <hr>
      <div class="mb-3">
        <label class="form-label">Foto dx Mentorx</label>
        <input type="file" class="form-control" [disabled]="!mentorCadastrado" (change)="importarImg($event)">
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
