<app-header></app-header>
<div class="row">
  <div class="col-4">
    <div class="card card-foto">
      <button mat-mini-fab color="primary" routerLink="/cargo" title="Voltar página" [ngStyle]="{'color':'white'}"
        style="margin-left: 99%; margin-top: -6%;">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <!-- <div>
        <button mat-stroked-button class="btn botao-add" routerLink="cargo/{{id_cargo}}/funcionario/cadastro">Adicionar Funcionários</button>
      </div> -->
    </div>
  </div>
  <div class="col-8">
    <div class="row m-5">
      <div class="col-4" *ngFor="let func of func">
        <div class="card-pessoa mb-4">
          <div class="picture" style="background-image: url('../../../{{func.func_foto}}');">
          </div>
          <div class="name">
            <p>{{func.func_nome}}</p>
          </div>
          <div class="jobtitle">
            <p>{{func.func_cidade}}</p>
          </div>
          <div class="buttons">
            <div class="button1">
              <button class="bot-card"
                routerLink="/funcionario/editar/{{func.id_funcionario}}/{{id_cargo}}">Editar</button>
            </div>
            <div class="button2">
              <button class="bot-card" type="button"
                routerLink="/funcionario/excluir/{{func.id_funcionario}}">Excluir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
