.card-foto {
  background-image: url("../../../../assets/Craft\ beer\ manufacturing-pana_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 400px;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 50px;
  border: none;
  background-color: transparent;
}

.botao-add {
  background-color: white;
  margin-top: 35%;
  margin-left: 30%;
}

.botao-add:hover {
  background-color: #ffc100;
  color: white;
}

.card-pessoa {
  width: 190px;
  height: 254px;
  border-radius: 10px;
  background: #f1f5f3;
  box-shadow: 1px 5px 60px 0px #4646466b;
  padding-top: 1%;
}

.card-pessoa .picture,
.card-pessoa .name,
.card-pessoa .jobtitle,
.card-pessoa .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-pessoa .picture {
  border: 2px solid #4646466b;
  height: 110px;
  width: 110px;
  border-radius: 100%;
  margin: auto;
  margin-top: 20%;
  transition: all 0.3s;
  background-size: cover;
  background-position: 50% 5%;
}

.card-pessoa .picture p {
  font-size: 0.8em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.buttons > div {
  padding: 0.5em;
}

button.bot-card {
  padding: 0.5em;
  outline: none;
  background: transparent;
  border: 1px solid #f57c00;
  border-radius: 0.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7em;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  transition: ease-out 0.5s;
  z-index: 1;
  color: #f57c00;
}

button.bot-card::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #f57c00;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button.bot-card:hover::before {
  width: 105%;
}

button.bot-card:hover {
  color: #fff;
}

.card-pessoa .name p {
  margin-top: 8%;
  margin-bottom: 5%;
  font-size: 1.5em;
}

.card-pessoa .jobtitle p {
  margin-bottom: 10%;
  font-size: 0.74em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.card-pessoa {
  cursor: pointer;
  width: 190px;
  height: 254px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid #ffcd38;
  transition: all 0.2s;
  box-shadow: 12px 12px 2px 1px #ffcd38;
  cursor: default;
}

.card-pessoa:hover {
  box-shadow: -12px 12px 2px -1px #ffcd38;
}
