// #home{
//   width: 100%;
//   height: 100vh;
//   zoom: 117%;
//   background-image: url('../../../assets/fundo-home.gif');
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: center center;
// }

// #logo {
//   // position: relative;
//   width: 270px;
//   margin-left: 40%;
//   margin-top: 7%;
// }

// #btn1 button, #btn2 button {
//   font-size: 1.2rem;
//   background-color: #b69386;
//   color: white
// }

// #btn1 {
//   margin-left: 20%;
//   margin-top: 2%;
// }

// #btn2 {
//   margin-left: 47%;
//   margin-top: 3%;
// }

// #btn1 button:last-of-type{
//   margin-left: 40%
// }

// #btn2 button {
//   background-color: #455a64;
// }

@import url("https://rsms.me/inter/inter-ui.css");
::selection {
  background: #435761;
}
.page {
  background-image: url("../../../assets/fundo-home.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  position: absolute;
  place-content: center;
  width: 100%;
  height: 100vh;
  zoom: 117%;
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
  margin-top: -5%;
}
.left {
  background: rgba(255, 255, 255, 0.22);
  height: calc(100% - 20px);
  top: 14px;
  position: relative;
  width: 50%;
  text-align: center;
}
.left img {
  width: 250px;
}
.right {
  background: rgb(66, 66, 66);
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  color: #f1f1f2;
  position: relative;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  padding-left: 5%;
}

.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 10px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #fff;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
