<!-- <div id="home">

  <img src="../../../assets/logo - Copia.png" alt="" id="logo">

  <div id="btn1">
    <button mat-raised-button routerLink="/cargo">Trabalhe Conosco</button>
    <button mat-raised-button routerLink="/card-mentores" >Programa de Mentoria</button>
  </div>
  <div id="btn2">
    <button mat-raised-button routerLink="/login">LOGIN</button>
  </div>
</div> -->

<div class="page">
  <div class="container">
    <div class="left">
      <img src="../../../assets/logo - Copia.png" alt="logo">
    </div>
    <div class="right">
      <!-- <div>
        <button class="learn-more" routerLink="/cargo">
          <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
          </span>
          <span class="button-text">Trabalhe Conosco</span>
        </button>
      </div> -->
      <div>
        <button class="cta" routerLink="/card-cargo">
          <span class="hover-underline-animation"> Trabalhe Conosco </span>
          <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path>
          </svg>
        </button>
      </div>
      <div>
        <button class="cta" routerLink="/card-mentores">
          <span class="hover-underline-animation"> Programa de Mentoria </span>
          <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path>
          </svg>
        </button>
      </div>
      <div>
        <button class="cta" routerLink="/login">
          <span class="hover-underline-animation"> LOGIN </span>
          <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
