<app-header></app-header>
<div class="card mat-elevation-z4 card-form">
  <div class="card-body">
    <button mat-mini-fab color="primary" routerLink="/mentores" title="Voltar página"[ngStyle]="{'color':'white'}"><mat-icon >keyboard_backspace</mat-icon></button>
    <div class="titulo">
      <h1>Editor de Mentores</h1>
    </div>

    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input type="text" matInput [(ngModel)]="mentor.mentor_nome" name="mentor_nome"
          formControlName="mentor_nome">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input type="text" matInput [(ngModel)]="mentor.mentor_cpf" name="mentor_cpf"
          formControlName="mentor_cpf">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Cargo</mat-label>
        <input type="text" matInput [(ngModel)]="mentor.mentor_cargo" name="mentor_cargo"
          formControlName="mentor_cargo">
      </mat-form-field>
      <div class="botoes">
        <!-- <button class="btn btn-warning mx-3" (click)="trocarCargo()">Trocar Cargo</button> -->
        <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="editarMentor()">Atualizar</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
