.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

button.bot {
  background-color: green;
}

button:disabled {
  background-color: gainsboro;
}

#botao-voltar {
  margin-top: 5%;
  margin-left: 20%;
}

.titulo {
  margin-top: -2%
}
