<app-header></app-header>
<div class="card mat-elevation-z4 card-form">
  <div class="card-body">
    <button mat-mini-fab color="primary" routerLink="/funcionarios" title="Voltar página" [ngStyle]="{'color':'white'}">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div class="titulo">
      <h1>Exclusão de Funcionário(a)</h1>
      <h3>#{{func.id_funcionario}} {{func.func_nome}}</h3>
    </div>

    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input type="text" matInput placeholder="Nome" [(ngModel)]="func.func_nome" name="func_nome"
          formControlName="func_nome" readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input type="text" matInput placeholder="XXX.XXX.XXX-XX" [(ngModel)]="func.func_cpf" name="func_cpf" formControlName="func_cpf" readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Cidade</mat-label>
        <input type="text" matInput placeholder="Cidade" [(ngModel)]="func.func_cidade" name="func_cidade"
          formControlName="func_cidade" readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Foto</mat-label>
        <input type="text" matInput [(ngModel)]="func.func_foto" name="func_foto" formControlName="func_foto"
          readonly>
      </mat-form-field>
      <div class="botoes">
        <button mat-raised-button color="accent" (click)="open(modalExcluir)" [disabled]="!form.valid">Excluir</button>
      </div>

      <!-- Modal de confirmação para excluir turma -->
      <ng-template #modalExcluir let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="excluir">Aviso</h4>
          <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Deseja realmente excluir #{{func.id_funcionario}} {{func.func_nome}}?</p>
        </div>
        <div class="modal-footer">
          <button mat-raised-button type="button" (click)="modal.close('Save click')" class="mx-3">Cancelar</button>
          <button mat-raised-button type="button" (click)="excluirFunc();modal.close('Save click')" color="warn">Excluir</button>
        </div>
      </ng-template>
    </form>
  </div>
</div>
<app-footer></app-footer>
