<app-header></app-header>
<div class="card mat-elevation-z4 card-form">
  <div class="card-body">
    <button mat-mini-fab color="primary" routerLink="/mentores/bonificacao/{{id_mentor}}" title="Voltar página" [ngStyle]="{'color':'white'}">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div class="titulo">
      <h1>Edição da Bonificação #{{bonificacao.codigo}}</h1>
    </div>

    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descrição</mat-label>
        <input type="text" matInput [(ngModel)]="bonificacao.bo_descricao" name="bo_descricao"
          formControlName="bo_descricao">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Data de Pagamento</mat-label>
        <input type="date" matInput [(ngModel)]="bonificacao.bo_dataPagamento" name="bo_dataPagamento"
          formControlName="bo_dataPagamento">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Valor</mat-label>
        <input type="text" matInput [(ngModel)]="bonificacao.bo_valor" name="bo_valor"
          formControlName="bo_valor">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Status</mat-label>
        <input type="text" matInput [(ngModel)]="bonificacao.bo_status" name="bo_status"
          formControlName="bo_status" readonly>
      </mat-form-field>
      <div class="botoes">
        <button mat-raised-button color="accent" (click)="editarBonificacao()" [disabled]="!form.valid">Editar</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
