<app-header></app-header>

<img src="../../../../assets/funcionarios2.png" alt="" id="imagem" style="opacity: 65%;">
<div style="text-align: center;" class="mt-5">
  <h1><strong>Funcionárixs</strong></h1>
  <h2 style="color: #8d6e63;">--- Atribuição de Cargos ---</h2>
</div>
<mat-form-field appearance="standard" class="busca">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="filtrar($event)" placeholder="Ex. João da Silva" #input>
</mat-form-field>
<section style="overflow-x:auto" class="table-container container mat-elevation-z3 p-0">
  <table mat-table [dataSource]="tabelaFunc" matSort>
    <!-- Coluna ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let func">{{func.id_funcionario}} </td>
    </ng-container>
    <!-- Coluna Nome -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let func"> {{func.func_nome}} </td>
    </ng-container>
    <!-- Coluna CPF -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
      <td mat-cell *matCellDef="let func"> {{func.func_cpf | cpf}} </td>
    </ng-container>
    <!-- Coluna cidade -->
    <ng-container matColumnDef="cidade">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="mx-5">Cidade </span></th>
      <td mat-cell *matCellDef="let func"> <span class="mx-5">{{func.func_cidade}}</span> </td>
    </ng-container>
    <!-- Coluna foto -->
    <ng-container matColumnDef="foto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="mx-5">Foto </span></th>
      <td mat-cell *matCellDef="let func"> <button mat-button (click)="open(modalImg)">
          <mat-icon>image</mat-icon>

          <!-- Modal de foto -->
          <ng-template #modalImg let-modal id="foto-modal">
            <img src="../../../../{{func.func_foto}}" alt="">
          </ng-template>

        </button></td>
    </ng-container>
    <!-- Coluna ID do cargo -->
    <ng-container matColumnDef="id_cargo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="mx-5">ID Cargo </span></th>
      <td mat-cell *matCellDef="let func"> <span class="mx-5">#{{func.id_cargo}}</span> </td>
    </ng-container>
    <!-- Coluna nome do cargo -->
    <ng-container matColumnDef="cargo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="mx-5">Cargo </span></th>
      <td mat-cell *matCellDef="let func"> <span class="mx-5">{{func.car_nome}}</span> </td>
    </ng-container>
    <!-- Coluna atribuir cargo -->
    <ng-container matColumnDef="atribuir">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="mx-4">Ações</span></th>
      <td mat-cell *matCellDef="let func">
        <button mat-button routerLink="atribuirCargo/{{func.id_funcionario}}/{{func.id_cargo}}" title="Atribuir Cargo"
          color="accent">
          <mat-icon>work</mat-icon>
        </button>
        <button mat-button routerLink="/funcionario/editar/{{func.id_funcionario}}/{{func.id_cargo}}" title="Editar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button routerLink="/funcionario/excluir/{{func.id_funcionario}}" title="Excluir" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- Coluna ações -->
    <!-- <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <span class="mx-5">Ações </span></th>
      <td mat-cell *matCellDef="let func">
        <button class="bot-card" routerLink="/funcionario/editar/{{func.id_funcionario}}/{{func.id_cargo}}">Editar</button>
        <button class="bot-card" type="button"
          routerLink="/funcionario/excluir/{{func.id_funcionario}}">Excluir</button>
      </td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!--Paginação da tabela, utilizando o mat-paginator-->
  <mat-paginator #paginatorFunc [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</section>
<app-footer></app-footer>
